@font-face {
  font-family: "axiforma";
  src: local("axiforma"),
    url(../../public/font/Axiforma-Regular.ttf)
      format("truetype");
}
* {
  margin: 0;
}
h1 {
  font-family: axiforma;
  text-transform: capitalize;
  font-size: 26px;
  letter-spacing: 0;
}
p {
  font-family: axiforma;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
}
label {
  font-family: axiforma;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
}